@model List<Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<h1>Index</h1>


<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Brand</th>

        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.BrandName</td>
            <td><a asp-action="DeleteBrand" asp-route-id="@item.BrandId" class="btn btn-outline-primary">Delete</a></td>
            <td><a asp-action="EditBrand" asp-route-id="@item.BrandId" class="btn btn-outline-danger">Update</a></td>
        </tr>
    }

</table>

<a asp-action="CreateBrand" asp-controller="AdminBrand" class="btn btn-outline-success">Create New Brand</a>